<style>
  .editor_product_heading {
    text-align: center;
}

.dxn_editor_container {
    margin: auto;
    width: 90%;
    height: auto;
    padding-bottom: 2%;
    border: 3px black;
    border-style: solid;
    background-image: url("https://i.pinimg.com/originals/df/4e/8b/df4e8ba28f912bf9cdf9fa0dfc196411.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 33px;

}

.editor_picture_container {
    margin: 0 20px 0 20px;
    height: 540px;
}

.editor_image_area {
    width: 450px;
    height: 650px;
    background-image: url("https://lh3.googleusercontent.com/proxy/yFL0H3BderH_414nwnB-0P0FYcqlgh_K6Y1QfcMq9mmUvboFwrKwuMiF7CBW9fXn1DZpkj0T8ujYR2FNic739K83J5rK-lePkfr3KleEPdKzm6IwRHjB83lQgbZ77Ief1oMe");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 33px;
}

.tab-pane {
    padding: 20px;
}

.image_side_base {
    width: 402px;
    height: 494px;
    background-image: url("https://cdn.shopify.com/s/files/1/0554/4057/2576/files/1_elektro_karte.png?v=1632260679");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
    margin-top: 11%;
}

.dxn_input_form_side_block {
    width: 748px;
    margin: 25% 0px 0px 10%;
}

.image_side_base_outter {
    width: auto;
    text-align: center;
}

.input_form_side_block {
    margin: auto;
    margin-top: 11%;
    width: auto;
}

.dxn_col_images {
    min-width: 420px;
}

.dxn_image_layer_container {
    background-image: url("https://cdn.shopify.com/s/files/1/0554/4057/2576/files/1_elektro_karte.png?v=1632260679");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    text-align: center;
    color: white;
    margin: 2%;
    margin-top: 11%;
    width: 402px;
    height: 494px;
}

.dxn_card_fill_name {
    position: absolute;
    top: 6%;
    left: 10%;
}

.dxn_card_fill_lebenspunkte {
    position: absolute;
    top: 6%;
    right: 26%;
}
.dxn_card_fill_kartentyp_attacke1 {
  position: absolute;
  top: 60%;
  left: 11%;
}
.dxn_card_fill_kartentyp_attacke2{
position: absolute;
top: 69%;
left: 11%;
}

.dxn_card_fill_attacke_one {
    position: absolute;
    top: 60%;
    left: 42%;
}

.dxn_card_fill_angriffsschaden_one {
    position: absolute;
    top: 60%;
    right: 15%;
}

.dxn_card_fill_attacke_two {
    position: absolute;
    top: 69%;
    left: 42%;
}

.dxn_card_fill_angriffsschaden_two {
    position: absolute;
    top: 69%;
    right: 15%;
}

.dxn_card_fill_eigener_text {
    position: absolute;
    top: 89%;
    left: 42%;
}

.dxn_card_fill_foto {
  position: absolute;
  top: 12%;
  left: 11%;
}
.dxn_card_main_picture{
  z-index:10;
  width: 315px;
  height: 197px;
  position: absolute;
  top: 0;
  left: 0;
}
.image{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.image {
    width: 100%;
    height: 100%;
}


@media only screen and (max-width: 494px) {
    .dxn_editor_container {
        width: 293px;
        height: 402px;
    }
  .dxn_col_images {
    min-width: 0px;
}
.dxn_image_layer_container {
  width: 202px;
  height: 294px;
}
.dxn_card_fill_name .dxn_card_fill_lebenspunkte .dxn_card_fill_attacke_one .dxn_card_fill_angriffsschaden_one .dxn_card_fill_attacke_two .dxn_card_fill_angriffsschaden_two .dxn_card_fill_eigener_text{
  font-size: 9px;
}

}


</style>


<div id="dxn_configurator_body">
  <div class="container-fluid dxn_editor_container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="dxn_col_images col-md-4">
            <div class="dxn_image_layer_container">
              <div class="dxn_card_main_picture">
                <img src="https://cdn.shopify.com/s/files/1/0554/4057/2576/files/katze_beispielbild.jpg?v=1632497313" class="" />
              </div>
              
              <div class="dxn_card_fill_kartentyp_attacke1">
                <img src="https://cdn.shopify.com/s/files/1/0554/4057/2576/files/lightning-thumbnail.png?v=1632496123" width=25px />
                <img src="https://cdn.shopify.com/s/files/1/0554/4057/2576/files/lightning-thumbnail.png?v=1632496123" width=25px />
              </div>
              <div class="dxn_card_fill_kartentyp_attacke2">
                <img src="https://cdn.shopify.com/s/files/1/0554/4057/2576/files/lightning-thumbnail.png?v=1632496123" width=25px />
                <img src="https://cdn.shopify.com/s/files/1/0554/4057/2576/files/lightning-thumbnail.png?v=1632496123" width=25px />
                <img src="https://cdn.shopify.com/s/files/1/0554/4057/2576/files/lightning-thumbnail.png?v=1632496123" width=25px />
              </div>
              <div class="dxn_card_fill_name">Name</div>
              <div class="dxn_card_fill_lebenspunkte">199</div>
              <div class="dxn_card_fill_attacke_one">Schlagen</div>
              <div class="dxn_card_fill_angriffsschaden_one">999</div>
              <div class="dxn_card_fill_attacke_two">Fliegen</div>
              <div class="dxn_card_fill_angriffsschaden_two">999</div>
              <div class="dxn_card_fill_eigener_text">Eigener Text</div>
              
              
          </div>








          <div class="col-md-8">
            <div class="dxn_input_form_side_block">
              <ul class="nav nav-tabs" id="myForm">
                <li class="active"><a href="#one">Un</a></li>
                <li><a href="#two">Deux</a></li>
                <li><a href="#three">Trois</a></li>
              </ul>
    
              <form action="" method="post">
                <div class="tab-content">
                  <div class="tab-pane active" id="one">
                    <input type="text" class="form-control" name="name" placeholder="enter name">
                  </div>
                  <div class="tab-pane" id="two">
                    <input type="text" class="form-control" name="email" placeholder="enter email">
                  </div>
                  <div class="tab-pane" id="three">
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('#myForm a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })
</script>