<div class='page-full'>{% include 'areviews_all_products_reviews' %}</div>

				{% schema %}
				{
					"name": "Areviews - Home Reviews",
					"class": "layout-funnel",
					 "settings":[  
					      {  
				             "type":"header",
				             "content":"Move the widget anywhere you want"
					      }
					    ],
					"presets": [{
						"name": "Reviews - Home Page Reviews",
						"category": "Areviews"
					}]
				}
				{% endschema %}