<div id='az_reviews_slider'></div>

{% schema %}
{
	"name": "Areviews - Slider",
	"class": "index-section",
	 "settings":[  
	      {  
             "type":"header",
             "content":"Move the slider anywhere you want"
	      }
	    ],
	"presets": [{
		"name": "Areviews - Carousel",
		"category": "Areviews"
	}]
}
{% endschema %}